<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'login-form'}) do |f| %>
    <div class="login-wrap">
      <p class="login-img"><i class="icon_lock_alt"></i></p>
      <div class="input-group">
        <span class="input-group-addon"><i class="icon_profile"></i></span>
        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control"%>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="icon_key_alt"></i></span>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control"%>
      </div>
      <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
          <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
      </label>
      <%= f.submit "Log in", class: "btn btn-primary btn-lg btn-block" %>
    </div>
  <% end %>
</div>
